name: "Resume Actions"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  checks:
    name: Run full code checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: Run Checks
        run: |
          yarn install
          yarn check:full

  jest:
    name: Run tests
    runs-on: ubuntu-latest
    needs: [checks]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: |
          yarn install
          yarn test --passWithNoTests

  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        continue-on-error: true
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        continue-on-error: true
